/* Styles for CHAT UI */

.chat-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30%;
    font-family: 'Consolas', monospace;
    z-index: 1000;
    pointer-events: none;
  }
  
  .chat-box {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 10px;
    max-height: 250px;
    overflow-y: auto;
    pointer-events: auto;
  }
  
  .chat-message {
    color: white;
    font-size: 13px;
    margin-bottom: 4px;
  }
  
  .chat-time {
    color: #aaa;
    font-size: 11px;
  }
  
  .chat-author {
    font-weight: bold;
    color: #ffd369;
  }
  
  .chat-input {
    margin-top: 6px;
    width: 100%;
    padding: 8px;
    font-size: 13px;
    background-color: rgba(20, 20, 20, 0.9);
    border: none;
    color: white;
    outline: none;
    pointer-events: auto;
  }
  